/*
*		Theme Name: Darwin Blog
*		Author: Thierry Gallus
*		Description: WordPress Blog Theme 2 for demo by Thierry Gallus
*		License: GNU General Public License v2 or later
*		License URI: http://www.gnu.org/licenses/gpl-2.0.html
*		Text Domain: darwinblog
*		Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*		This theme, like WordPress, is licensed under the GPL.
*		Use it to make something cool, have fun, and share what you've learned with others.
*
*---------------------------------------------------------------
* >>> TABLE OF CONTENTS:
*---------------------------------------------------------------
*    # Normalize
     # Navbar
*       ## navbar home
*       ## navbar not home
*       ## navbar social
*       ## navbar social menu icons
*    # Index page
*       ## Index page header
*       ## Index page gallery
*       ## Index page contact
*    # Single page
*       ## Index page header
*       ## Index page containt
*    # Footer
*---------------------------------------------------------------
*/

/*--------------------------
 * NORMALIZE
 *------------------------*/
html {
    font-family: sans-serif;
    font-size: 10px;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 0;
}

.fa,
.fas,
.fal,
.fab {
    font-family: FontAwesome;
    font-style: normal;
}

@media (max-width: 576px) {
    .single-header,
    .single-header figure {
        max-height: 324px !important;
    }
    .container.single-page {
        padding: 0;
    }
    .navbar-nh {
        height: 60px !important;
        margin-bottom: -60px !important;
    }

    .index-gallery {
        max-height: 1920px !important;
    }

    .index-gallery article {
        max-height: 320px;
    }
    .single-header figure span {
        height: 324px !important;
    }
}

@media (min-width: 576px) {
    .single-header,
    .single-header figure {
        height: 324px;
    }
    .navbar-nh {
        margin-left: 15px !important;
        margin-right: 15px !important;
        height: 60px !important;
        margin-bottom: -60px !important;
    }

    .index-gallery {
        max-height: 1920px !important;
    }

    .index-gallery article {
        max-height: 320px;
    }
}

@media (min-width: 768px) {
    .single-header,
    .single-header figure {
        height: 432px;
    }
    .navbar-nh {
        height: 90px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        margin-bottom: -90px !important;
    }

    .index-gallery article {
        max-height: 215px;
    }
}

@media (min-width: 992px) {
    .single-header,
    .single-header figure {
        height: 558px;
    }
    .container.single-containt,
    .container.site-footer {
        max-width: 576px;
    }
    .navbar-nh {
        height: 120px !important;
        margin-bottom: -120px !important;
    }
    .navbar-nh svg {
        padding: 0 !important;
    }

    .index-gallery article {
        max-height: 290px;
    }
}

@media (min-width: 1200px) {
    .container.single-page {
        max-width: 1200px;
        padding: 0;
    }
    .container.navbar-single {
        max-width: 1200px;
        padding: 0;
    }
    .container.index-page {
        max-width: 1024px;
        padding: 0;
    }
    .container.navbar-home {
        max-width: 1024px;
        padding: 0;
    }

    .single-header,
    .single-header figure {
        height: 675px;
    }
    .container.single-containt,
    .container.site-footer {
        max-width: 576px;
    }
    .navbar-nh {
        height: 155px !important;
        margin-bottom: -155px !important;
        margin-left: 75px !important;
        margin-right: 75px !important;

    }
    .navbar-nh svg {
        padding: 0 15px !important;
    }

    .index-gallery article {
        max-height: 320px;
    }
}

/*--------------------------
 * NAVBAR HOME
 *------------------------*/

.navbar {
    justify-content: space-between;
}

.navbar a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.navbar svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    fill: url("#gradient");

    transition: all .5s ease;
}

.navbar svg:hover {
    cursor: pointer;
    transform: scale(1.1);
    margin-right: -1px;
}

.navbar-menu {
    display: flex;
    align-self: center;
    justify-self: end;
}

.menu-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
}

.menu-social ul li a {
    font-family: FontAwesome;
    color: #ccc;
    margin: 0;
    margin-left: 30px;   
    font-size: 1.9rem;
}

.navbar-nh-menu > .menu-social ul li a {
    color: #FFF;
}

.menu-social ul li  a:hover {
    background: -moz-linear-gradient(top, #548bf8 0%, #f9585c 100%);
    background: -webkit-linear-gradient(top, #548bf8 0%, #f9585c 100%);
    background: linear-gradient(to bottom, #548bf8 0%, #f9585c 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

/*--------------------------
 * NAVBAR NOT HOME
 *------------------------*/

.navbar-nh {
    justify-content: space-between;
}

.navbar-nh a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.navbar-nh svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    fill: #FFF;

    transition: all .5s ease;
}

.navbar-nh svg:hover {
    fill: url("#gradient") #f9585c;
    cursor: pointer;

    transform: scale(1.1);
    margin-right: -1px;
}

.navbar-nh-menu {
    display: flex;
    align-self: center;
    justify-self: end;
}

.navbar-nh-menu a {
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;    
}

.navbar-nh-menu i {
    font-size: 1.9rem;
}

.navbar-nh-menu i:hover {
    background: -moz-linear-gradient(top, #548bf8 0%, #f9585c 100%);
    background: -webkit-linear-gradient(top, #548bf8 0%, #f9585c 100%);
    background: linear-gradient(to bottom, #548bf8 0%, #f9585c 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

/*--------------------------
 * NAVBAR SOCIAL
 *------------------------*/
.menu-social ul li a:link {text-decoration: none;}
.menu-social ul li a:visited {text-decoration: none;}
.menu-social ul li a:hover { text-decoration: none;}
.menu-social ul li a:active { text-decoration: none;}

.screen-reader-text {
	display: none;
}

/*--------------------------
 * NAVBAR SOCIAL MENU ICONS
 *------------------------*/
.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="foursquare.com"]::before { content: '\f180'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-social li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="reddit.com"]::before { content: '\f1a1'; }
.menu-social li a[href*="soundcloud.com"]::before { content: '\f1be'; }
.menu-social li a[href*="stackoverflow.com"]::before { content: '\f16c'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="vine.co"]::before { content: '\f1ca'; }
.menu-social li a[href*="yelp.com"]::before { content: '\f1e9'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="wordpress.com"]::before { content: '\f19a'; }
.menu-social li a[href*="wordpress.org"]::before { content: '\f19a'; }

/*--------------------------
 * INDEX PAGE HEADER
 *------------------------*/
 .index-header {
    margin-bottom: 20px;
    justify-content: center;
 }

 .index-header h1 {
    margin: 50px 0;
    width: max-content;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.41px;
}

/*--------------------------
 * INDEX PAGE GALLERY
 *------------------------*/
.index-gallery {
    max-height: 1280px;
}

.index-gallery article {
    overflow: hidden;
    margin: 0;
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.index-gallery article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
    filter: brightness(85%);
}

.post-containt {
    color: #FFF;
    position: absolute;
    text-align: center;
    align-self: center;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: min-content;
}

.post-containt h2 {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    width: max-content;
    margin: 0;

    transition: all .5s ease;
}

.post-containt a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    justify-self: center;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.41px;
}

.post-containt h2:hover {
    transform: scale(1.1);
}

.post-containt h4 {
    padding-top: 20px;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    justify-self: center;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.41px;
}

 /*--------------------------
 * INDEX PAGE CONTACT
 *------------------------*/
.index-contact {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.contact-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    width: 100%;
}

.index-contact h1 {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.41px;
}

.contact-wrapper a {
    padding: 10px 20px;
    background: #FFF;
    color: #000;
    border: 2px solid #eeeeee;
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.41px;
    text-decoration: none;

    transition: all .5s ease;
}

.contact-wrapper a:hover {
    cursor: pointer;
    background: #eeeeee;
}

/*--------------------------
 * SINGLE PAGE HEADER
 *------------------------*/

.single-header {
    max-height: 675px;
    overflow: hidden;
}

.single-header figure {
    margin: 0;
    display: inline-flex;
    max-height: 675px;
    width: 100%;
    justify-content: center;
}

.single-header figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.single-header figure span {
    width: 100%;
    height: auto;
    object-fit: cover;
    float: left;
}

.single-header figure h2 {
    margin: 0;
    position: absolute;
    align-self: center;
    text-align: center;
    cursor: default;

    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 10vmin;
}

/*--------------------------
 * SINGLE PAGE CONTAINT
 *------------------------*/

.single-containt {
    display: grid;
    margin: 50px 0 0 0;
    color: #000;
    text-align: center;
}

.single-containt h1 {
    justify-self: center;
    border-bottom: 2px solid #eeeeee;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.41px;
}

.single-containt h4 {
    margin: 25px 30%;
    width: 40%;
    opacity: 0.4;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.41px;
}

.single-containt p {
    margin: 0;
    margin-bottom: 20px;
    color: #787878;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.41px;
    line-height: 22px;
}

.single-containt p:first-of-type {
    color: #000;
}

.single-containt p a {
    border-bottom: 2px solid #eeeeee;
    text-decoration: none;
    color: #000;

    transition: all .5s ease;
}

.single-containt p a:hover {
    border-color: #000;
}

/* Image in post containt */
.wp-block-image figure {
    margin: 50px 0;
}

.wp-block-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.wp-block-image figcaption {
    margin: 0 15px !important;
    text-align: end !important;
    margin-top: -41px !important;
    color: #FFF !important;

    line-height: 40px;
    font-weight: 100;
}

.wp-block-image figcaption a {
    text-decoration: none;
    color: #FFF;
}

.wp-block-image figcaption:before {
    content: "© ";
}

/*--------------------------
 * FOOTER
 *------------------------*/

.site-footer {
    margin-top: 50px;
    margin-bottom: 75px;
}

.footer-wrapper {
    justify-content: center;
}

.footer-author {
    margin: 0;
    justify-content: center;
}

.footer-author figcaption {
    text-align: center;
    margin: 20px 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.41px;
    line-height: 22px;
    color: #000;
}

.footer-author img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    height: 50px;
    width: 50px;

    border-radius: 50%;
    border: 2px solid #eeeeee;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}