/*
*		Theme Name: Blank perso1
*		Author: Thierry Gallus
*		Description: WordPress Blog Theme for demo by Thierry Gallus
*		License: GNU General Public License v2 or later
*		License URI: http://www.gnu.org/licenses/gpl-2.0.html
*		Text Domain: blankperso1
*		Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*		This theme, like WordPress, is licensed under the GPL.
*		Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
	background: #ffffff;
	margin: 0 auto;
}

.site {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto 564px;
}

header {
	grid-row-start: 1;
}

footer {
	grid-row-start: 3;
}

#page {
	background-color: #fff;
}

.fal {
	font-style: normal;
}

/*---------------------
	NAVBAR 
---------------------*/
.site-navbar {
	height: 155px;
	width: 90%;
	padding: 0 5%;
	background-color: #fff;
	display: inline-grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: auto;

	transition: 300ms;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    float: right;
}

.menu-navigation-container {
	grid-column-start: 2;
	justify-self: center;
}

.menu-navigation-container ul li a[aria-current="page"] {
	color: #fd7a6a;
}

.site-navbar ul li {
    list-style: none;
    display: inline;
}

.site-navbar ul li a {
	padding: 0 24px;
	line-height: 155px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 12px;

	text-decoration: none;
	color: #000;
	opacity: 0.7;
	transition: all 0.3s ease;
}

.site-navbar ul li a:hover {
	color: #fd7a6a;
}

.navbar-search {
	justify-self: end;
	line-height: 155px;
	width: 100%;
	text-align: end;
}

.navbar-search a {
	color: #000;
	text-decoration: none;
}

.search-box {
	width: 100%;
	max-height: 155px;
}

.search-box-input {
	position: relative;
	box-sizing: border-box;
	max-height: 55px;
	line-height: 55px;
	padding: 0;
	width: 0;
	margin: 50px 0;
	outline: none;
	font-size: 12px;
	font-weight: 500;
	font-family: "poppins", sans-serif;
	color: #000;
	border: none;
	transition: all 0.3s ease;
	float: left;
	align-self: end;
}

.search-box-input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fd7a6a;
	opacity: 0.7;
}
.search-box-input::-moz-placeholder {
	/* Firefox 19+ */
	color: #fd7a6a;
	opacity: 0.7;
	}
.search-box-input:-ms-input-placeholder {
	/* IE 10+ */
	color: #fd7a6a;
	opacity: 0.7;
}
.search-box-input:-moz-placeholder {
	/* Firefox 18- */
	color: #fd7a6a;
	opacity: 0.7;
}

.search-btn {
	position: absolute;
	width: auto;
	top: 0;
	right: 5%;
	margin: 50px 0;
	max-height: 55px;
	cursor: pointer;
	line-height: 55px;
	font-size: 20px;
	color: #000;
	transition: all 0.8s ease;
}

.search-box-input.active {
	width: 100%;
}

.search-btn:hover {
	color: #fd7a6a;
}

.search-btn.animate {
	transform: rotate(-360deg);
	right: 5%;
	top: 0;
	color: #fd7a6a;
}

.navbar-logo {
	margin: 0;
	padding: 50px 0;
	width: auto;
	max-height: 55px;
	
}

.navbar-logo img {
	height: 55px;
	width: auto;
}

/*---------------------
	NAVBAR MOBILE 
---------------------*/
.site-navbar-mobile {
	display: none;
}

.navbar-expand {
	display: none;
	line-height: 60px;
	width: 100%;
	border-color: #E7E8ED;
	background-color: #FFF;
	grid-column: span 6;
	margin: 0;
	padding: 0;
	z-index: 99;
	transition: all 0.3s ease;
}

.navbar-expand ul {
	border-top: 1px solid #E7E8ED;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-expand li {
	border-bottom: 1px solid #E7E8ED;
}

.navbar-expand ul li a {
	text-decoration: none;
	padding: 0 3%;
	opacity: 0.7;
	font-family: Helvetica;
	font-size: 12px;
	color: #141517;
	letter-spacing: 0;
	text-align: center;
}

.navbar-mobile-icon {
	grid-column-start: 3;
	justify-self: center;
	width: auto;
	max-height: 60px;
	cursor: pointer;
	line-height: 60px;
	font-size: 20px;
	color: #000;
	transition: all 0.3s ease;
	text-decoration: none;
}

.navbar-mobile-icon:hover {
	color: #fd7a6a;
}

@media screen and (max-width: 1023px) {
	.site-navbar-mobile {
		display: grid !important;
		height: 60px;
		width: 100%;
		background-color: #fff;
		grid-template-columns: 3% 20% auto 10% 5% 3%;
		grid-template-rows: auto;

		transition: 300ms;
	}
	.search-btn {
		max-height: 60px;
		line-height: 60px;
		margin: 0;
		right: 3%;
	}
	.search-btn.animate {
		right: 3%;
	}
	.search-box-input {
		max-height: 0;
		line-height: 60px;
		margin: 0;
		padding: 0 3%;
		width: 100%;
		border-color: #E7E8ED;
	}
	.search-box-input.active {
    max-height: 60px;
		width: 100%;
		padding: 0 3%;
		border-top: 1px solid #E7E8ED;
		border-bottom: 1px solid #E7E8ED;
}
	.navbar-search {
		line-height: 60px;
		grid-column: span 6;
	}
	.site-navbar {
		display: none;
	}
	.navbar-logo {
		padding: 5px 0;
		max-height: 50px;
		left: 3%;
		grid-column-start: 2;
	}
	.navbar-logo img {
		height: 50px;
	}
	.navbar-mobile-icon {
		grid-column-start: 4;
	}
}

/*---------------------
	FOOTER 
---------------------*/
.site-footer {
	position: absolute;
	height: 464px;
	width: 90%;
	padding: 0 5%;
	margin-top: 100px;
	background-color: #fff;
	display: inline-grid;
	grid-template-rows: 368px 96px;
}

.footer-containt {
	display: grid;
	grid-template-rows: 74px auto;
	grid-auto-flow: column;
}

.footer-containt form {
	grid-column-start: 3;
}

.footer-containt form input {
	width: 100%;
	padding: 0;
	margin: 5px 0 33px 0;
	
}

.footer-containt form label {
	font-family: Helvetica;
	font-size: 14px;
	color: #2C2E3F;
	letter-spacing: 0;
}

.footer-containt form input[type=text] {
	border: none;
	border-bottom: 1px solid #fd7a6a;
	font-family: Helvetica;
	font-size: 14px;
	color: #2C2E3F;
	letter-spacing: 0;
	transition: all 0.3s ease;
}

.footer-containt form input[type=text]:focus {
	padding: 5px 0;
}

.footer-containt form input[type=email] {
	border: none;
	border-bottom: 1px solid #fd7a6a;
	font-family: Helvetica;
	font-size: 14px;
	color: #2C2E3F;
	letter-spacing: 0;
	transition: all 0.3s ease;
}

.footer-containt form input[type=email]:focus {
	padding: 5px 0;
}

.footer-containt form input[type=submit] {
	border: none;
	height: 62px;
	margin: 0 0 33px 0;
	background-color: #fd7a6a;
	text-transform: uppercase;
	color: #fff;
	font-weight: 200;
	cursor:pointer;
	transition: all 0.3s ease;
}

.footer-containt form input[type=submit]:hover {
	opacity: 0.7;
}

.footer-column-title {
	font-family: Helvetica;
	font-size: 18px;
	color: #2C2E3F;
	letter-spacing: -0.1px;
	width: 100%;
	margin: 0;
}

.footer-links {
	display: grid;
	grid-template-rows: 294px;
	grid-template-columns: 50% 50%;

	grid-column-start: 1;
	grid-row-start: 2;
}

.footer-links-containt {
	overflow: hidden;
	font-family: Helvetica;
	font-size: 14px;
	color: rgba(44,46,63,0.70);
	letter-spacing: 0;
	line-height: 40px;
	max-height: 294px;
	margin: 0;
}

.footer-address {
	display: grid;
	grid-row-start: 2;
	grid-column-start: 2;
	grid-template-rows: 40px auto;
	grid-template-columns: 50% 50%;
}

.footer-address-containt {
	margin: 0;
	overflow: hidden;
	font-family: Helvetica;
	font-size: 14px;
	color: rgba(44,46,63,0.70);
	letter-spacing: 0;
	line-height: 28px;
	max-height: 294px;

	grid-row-start: 2;
}

.footer-address-title {
	margin: 0;
	font-family: Helvetica;
	font-size: 14px;
	color: #2C2E3F;
	letter-spacing: 0;
	line-height: 40px;

	grid-row-start: 1;
}

.sign-up {
	grid-column-start: 3;
}

.footer-copyright {
	grid-row-start: 2;
}

.footer-copyright {
	border-top: 1px solid #D8D8D8;

	font-family: Helvetica;
	font-size: 13px;
	color: rgba(44,46,63,0.70);
	letter-spacing: -0.38px;
	line-height: 96px;
	display: inline-grid;
	grid-auto-flow: column;
	grid-template-rows: auto;
}

.footer-social {
	width: 100%;
	grid-column-start: 2;
	font-size: 20px;
	justify-self: center;
}

.menu-social {
	width: 100%;
}

.menu-social ul {
	padding: 0;
	margin: 0;
	text-align: end;
}

.menu-social ul li {
	list-style: none;
	line-height: 96px;
	display: inline;
	padding-left: 64px;
}

.menu-social ul li a {
	text-decoration: none;
	color: rgba(44,46,63,0.70);
	font-family: FontAwesome;
	transition: all 0.3s ease;
}

.menu-social ul li a:hover {
	color: #fd7a6a;
}

.menu-social ul li a:link {text-decoration: none;}
.menu-social ul li a:visited {text-decoration: none;}
.menu-social ul li a:hover { text-decoration: none;}
.menu-social ul li a:active { text-decoration: none;}

.screen-reader-text {
	display: none;
}

/*---------------------
	FOOTER MOBILE
---------------------*/
.site-footer-mobile {
	display: none;
	grid-template-rows: repeat(3, 50px) 75px 75px;
	grid-template-columns: 3% auto 3%;
	height: 100%;
}
.footer-copyright-mobile {
	height: 75px;
	font-family: Helvetica;
	font-size: 13px;
	color: rgba(44,46,63,0.70);
	letter-spacing: -0.38px;
	grid-column-start: 2;
	text-align: center;
	padding-top: 15px;
}

.mobile-contact-containt {
	list-style: none;
	padding: 0;
}

.mobile-contact-containt li {
	width: 50%;
	float: left;
}

.mobile-links-containt {
	list-style: none;
	padding: 0;
}

.mobile-links-containt li {
	overflow: hidden;
	font-family: Helvetica;
	font-size: 14px;
	color: rgba(44,46,63,0.70);
	letter-spacing: 0;
	line-height: 40px;
	max-height: 294px;
	margin: 0;
}

.mobile-sign-up-containt {
	
}

.mobile-sign-up-containt label {
	
}

.mobile-sign-up-containt input{
	
}

@media screen and (max-width: 1023px) {
	.site {
		grid-template-rows: auto auto auto;
	}
	.site-footer-mobile {
		display: grid;
	}
	.site-footer {
		display: none;
	}
	.footer-column-title {
		text-decoration: none;
		grid-column-start: 1;
		grid-column: span 3;
		border-top: 1px solid #E7E8ED;
		line-height: 50px;
		padding: 0 3%;
		width: 94%;

		display: grid;
		grid-template-columns: repeat(auto-fit, 50%);
	}
	.footer-column-title i {
		text-align: end;
		font-family: FontAwesome;
		font-style: normal;
	}
	.footer-social {
		height: 75px;
		grid-column-start: 1;
		grid-column: span 3;
		border-top: 2px solid #E7E8ED;
		justify-self: center;
		align-self: center;
	}
	.footer-social ul {
		text-align: center;
		height: 75px;
		line-height: 75px;
	}

	.footer-social ul li {
		padding: 0 2%;
	}
	/* Don't display containt of footer unless tab is clicked */
	.mobile-links-containt {
		grid-column-start: 2;
		display: none;
	}
	.mobile-contact-containt {
		grid-column-start: 2;
		display: none;
	}
	.mobile-sign-up-containt {
		grid-column-start: 2;
		display: none;
	}
}

/*---------------------
	FOOTER SOCIAL MENU ICONS
---------------------*/
.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="foursquare.com"]::before { content: '\f180'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-social li a[href*="jsfiddle.com"]::before { content: '\f1cc'; }
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="reddit.com"]::before { content: '\f1a1'; }
.menu-social li a[href*="soundcloud.com"]::before { content: '\f1be'; }
.menu-social li a[href*="stackoverflow.com"]::before { content: '\f16c'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="vine.co"]::before { content: '\f1ca'; }
.menu-social li a[href*="yelp.com"]::before { content: '\f1e9'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="wordpress.com"]::before { content: '\f19a'; }
.menu-social li a[href*="wordpress.org"]::before { content: '\f19a'; }

/*---------------------
	INDEX
---------------------*/
.index-container {
	width: 90%;
	padding: 0 5%;
}

.index-header {
	padding-bottom: 160px;
}

.sticky {
	display: inline-grid;
	grid-template-columns: auto auto;
}
@media screen and (max-width: 1023px) {
	.sticky {
		grid-template-columns: auto;
	}

	.sticky-containt p {

	}
}

.sticky img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sticky-containt {
	width: auto;
	padding: 30px 0;
	background-image: linear-gradient(90deg, #F5F8FC 0%, #E7EFF8 100%);

	display: grid;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: auto;
}

.sticky-containt ul {
	text-decoration: none;
	list-style: none;
	grid-column-start: 2;
	grid-row-start: 1;
	margin: 0;
	margin-bottom: 8%;
	padding: 0;
	align-self: end;
}

.sticky-containt ul li a {
	text-decoration: none;
	font-family: Helvetica;
	font-size: 22px;
	font-weight: 200;
	color: #FE7865;
	letter-spacing: -0.13px;
}

.sticky-containt a {
	margin-top: 10%;
	grid-column-start: 2;
	grid-row-start: 3;
	align-self: center;
}

.sticky-containt p {
	overflow: hidden;
	margin: 0;
	height: 100%;
	text-decoration: none;
	letter-spacing: -0.13px;
	font-family: Helvetica;
	font-size: 4vmin;
	font-weight: 200;
	color: #2C2E3F;
	letter-spacing: -0.83px;
	grid-column-start: 2;
	grid-row-start: 2;
	align-self: end;
}

.sticky-containt button {
	border: none;
	width: 100%;
	margin: 0;
	padding: 11% 0;
	
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #fd7a6a;
	background: #FE7865;
	letter-spacing: 2px;
	line-height: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sticky-containt button:hover {
	opacity: 0.7;
}

.sticky-containt button i{
	font-size: 14px;
	font-family: FontAwesome;
}

.index-containt {
	display: inline-grid;
	grid-template-columns: 200px auto;
	grid-template-rows: auto 80px;
	grid-column-gap: 5%;
}

@media screen and (max-width: 1023px) {
	.index-containt {
		grid-template-columns: auto;
		grid-template-rows: auto 80px;
		grid-column-gap: 0;
	}

	.index-category {
		display: none !important;
	}
}

/* Add row for read more button */
.index-read-more + .index-containt {
	grid-template-rows: auto 80px 62px;
}

.index-posts-row {
  display: -ms-flexbox; /* IE10 */
  display: inline-flex;
  -ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	grid-column-gap: 5%;

	grid-column-start: 2;
	grid-row-start: 1;
}

/* Create four equal columns that sits next to each other */
.index-posts-column {
  -ms-flex: 25%; /* IE10 */
  flex: 45%;
	max-width: 50%;
}

.index-post-containt {
	min-height: 100px;
	width: 100%;
	margin: 5% 0 10% 0;
	background-color: #FFF;
}

.index-post-containt a {
	font-family: Helvetica;
	font-size: 24px;
	font-weight: 300;
	color: #2C2E3F;
	letter-spacing: -0.41px;
	line-height: 32px;
	text-decoration: none;
}

.index-post-containt ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.index-post-containt ul a {
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 100;
	color: #9497AA;
	letter-spacing: -0.24px;
	line-height: 14px;
}

.index-post img {
	vertical-align: middle;
	width: 100%;
	height: auto;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 15% 5%;
}
.index-read-more {
	line-height: 62px;
	width: 25%;
	justify-self: center;
	text-align: center;
	cursor: pointer;

	grid-column-start: 2;
	grid-row-start: 3;

	background-color: #fd7a6a;
	transition: all 0.3s ease;
}

.index-read-more:hover {
	opacity: 0.7;
}

.index-read-more a {
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 100;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-decoration: none;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 1023px) {
  .index-posts-column {
    -ms-flex: 95%;
    flex: 95%;
    max-width: 100%;
  }
}

.index-category {
	width: 200px;
	border-bottom: 1px solid #E7E8ED;

	font-family: Helvetica;
	font-size: 14px;
	color: #8F91A3;
	background-color: #fff;
	letter-spacing: 0;

	display: inline-grid;
	position: absolute;
	grid-column-start: 1;
	grid-template-rows: 30px auto;
	z-index: 2;
}

.index-category-header {
	display: inline-grid;
	grid-auto-flow: column;
	grid-row-start: 1;
}

.index-category p {
	font-weight: 100;
	margin: 0 0 14px 0;
	float: left;
}

.index-category a {
	text-align: end;
	font-family: FontAwesome;

	text-decoration: none;
	color: #8F91A3;
}

.index-category i {
	width: 10%;
}

.index-category-list {
	padding-top: 47px;
	display:none;
	position: absolute;
	grid-column-start: 1;
}

.index-category-list li  {
	list-style: none;
}

.index-category-list li a {
	font-family: Helvetica;
	font-size: 12px;
	color: #141517;
	letter-spacing: 0;
	text-decoration: none;
	width: 100%;
	line-height: 50px;
	opacity: 0.7;
}

.index-category-list li ul {
	margin: 0;
	padding-left: 25px;
}

.index-category-list li ul li a {
	opacity: 0.7;
	font-family: Helvetica;
	font-size: 11px;
	color: rgba(20,21,23,0.59);
	letter-spacing: 0;
	line-height: 32px;
}

/*---------------------
	SINGLE POST PAGE
---------------------*/
.single-container{
	padding: 5%;
	width: 90%;
} 

.single-container h1 {
	margin: 0;
	padding: 0;
	width: 80%;
	font-family: Helvetica;
	font-size: 80px;
	font-weight: 200;
	color: #2C2E3F;
	letter-spacing: -1.38px;
	line-height: 110px;
}

.single-container h4 {
	width: 80%;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-weight: 200;
	font-size: 24px;
	color: rgba(44,46,63,0.70);
	letter-spacing: -0.7px;
	line-height: 40px;
}

.single-thumbnail {
	margin: 5% 0;
	height: 773px;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
}

.single-thumbnail img {
	justify-self: center;
	width: auto;
	height: 100%;
}

.nav-links {
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	grid-auto-flow: dense;
	grid-template-rows: auto;
} 

.nav-previous {
	overflow: hidden;
	grid-column-start: 1;
	justify-self: start;
	align-self: center;
	text-align: end;

	min-width: 300px;
	max-width: 300px;

	min-height: 100px;
	max-height: 100px;
	
	border: none;
	margin: 0;
	
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #fd7a6a;
	letter-spacing: 2px;
	line-height: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.nav-previous:hover {
	opacity: 0.7;
}

.nav-next {
	overflow: hidden;
	grid-column-start: 2;
	justify-self: end;
	align-self: center;

	min-width: 300px;
	max-width: 300px;

	min-height: 100px;
	max-height: 100px;


	border: none;
	margin: 0;
	
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #fd7a6a;
	letter-spacing: 2px;
	line-height: 12px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.nav-next:hover {
	opacity: 0.7;
}

.nav-next a{ 
	text-decoration: none; 
	color: #FFFFFF;
}

.nav-next a p {
	padding: 10px;
	padding: 20px;
}

.nav-previous a{ 
	text-decoration: none;
	color: #FFFFFF;
}

.nav-previous a p{
	padding: 20px;
}


/*---------------------
	TEMPLATE-CONTACT
---------------------*/

.template-contact-wrapper {
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: 60% 35% 5%;
}

.template-contact-map {
	overflow: hidden;
	height: 0;
	padding-bottom: 75%;
	position: relative;
}

.template-contact-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.template-contact-form {
	width: 473px;
	justify-self: end;
	align-self: center;
	grid-column-start: 2;
}

.template-contact-form h4 {
	font-family: Helvetica;
	font-size: 24px;
	color: #FE7865;
	letter-spacing: -0.14px;
	font-weight: 200;
	margin: 0;
}

.template-contact-form h1 {
	font-family: Helvetica;
	font-size: 64px;
	color: #2C2E3F;
	letter-spacing: -1.11px;
	line-height: 80px;
	font-weight: 400;
	margin: 20px 0;
}

.template-contact-form p {
	font-family: Helvetica;
	font-size: 16px;
	color: rgba(44,46,63,0.70);
	letter-spacing: -0.47px;
	line-height: 28px;
	margin: 0 0 75px 0;
	width: 60%;
}

.template-contact-form form {
	text-align: end;
}

.template-contact-form input {
	padding: 0 5%;
	width: 89.58%;
	height: 60px;
	border: 1px solid rgba(58,59,75,0.50);
	font-family: Helvetica;
	font-size: 14px;
	color: rgba(58,59,75,0.50);
	letter-spacing: 0;
	margin: 5px 0;
}

.template-contact-form input:focus {
	color: #FE7865;
	border-color: #FE7865;
}

.template-contact-form textarea:focus {
	color: #FE7865;
	border-color: #FE7865;
}

.template-contact-form textarea {
	padding: 25px 5% 0 5%;
	width: 89.58%;
	height: 92px;
	border: 1px solid rgba(58,59,75,0.50);
	font-family: Helvetica;
	font-size: 14px;
	color: rgba(58,59,75,0.50);
	letter-spacing: 0;
	resize: none;
	margin: 5px 0;
}

.template-contact-form input[type=submit]  {
	padding: 0;
	border: 1px solid #1D2539;
	width: 100%;
	height: 60px;
	font-family: Helvetica;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: 200;
	cursor:pointer;
	background-color: #1D2539;
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;
	margin: 5px 0;
	transition: all 0.3s ease;
}

.template-contact-form input[type=submit]:hover  {
	opacity: 0.7;
}

@media screen and (max-width: 1361px) {
	.template-contact-wrapper {
		grid-template-rows: auto auto;
		grid-template-columns: 5% auto 5%;
	}
	.template-contact-form {
		grid-row-start: 2;
		grid-column-start: 2;
		justify-self: center;
		margin: 3% 0;
	}
	.template-contact-map {
		grid-column-start: 2;
	}
}